img, h1, h2, p
{
    /*Centers Image*/
    display: block;
    margin: 0 auto;

    text-align: center;
}

body
{
    margin: 0%;
}

.header
{
    background-color: rgba(240, 41, 6);
    padding: 1.8%;
}

.header h1
{
    font-family: 'Verdana', 'Arial';
    font-size: 50px; 
    color: white;
    text-transform: uppercase;
}

#caption
{
    font-family: 'Tahoma';
    color: rgb(255, 38, 0);
}

li
{
    font-size: 20px;
}

#ing
{
    padding: 0.8%;
    background-color:rgba(240, 41, 6);
    color: white;
}

#ing h2
{
    font-family: 'Verdana', 'Arial';
    font-size: 35px;
    text-transform: uppercase;
}

#steps
{
    padding: 0.8%;
    color: rgba(240, 41, 6);
}

#steps h2
{
    font-family: 'Verdana', 'Arial';
    font-size: 35px;
    text-transform: uppercase;
}

