*
{
    text-align: center;
    list-style-type: none;
}

body
{
    margin: 0;
}

.header
{
    background-image: url("./images/home.jpg");
    background-size:cover;
    padding: 7.5%;

    /* Adds transparent color layer over backd image */
    box-shadow: inset 0 0 0 1000px rgba(240, 41, 6, 0.452);
}

.header #title
{
    font-size : 90px; 
    font-family: 'Verdana', 'Arial';
    color : white;   
}

.mid
{
    padding: 1%; 
}

.mid #center-txt
{
    font-size: 50px; 
    font-family: 'Verdana', 'Arial';
    color:rgba(240, 41, 6);
}

/*https://stackoverflow.com/questions/23226888/horizontal-list-items-fit-to-100-with-even-spacing*/

